<!DOCTYPE html>
<html>

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="12u">
                    <!-- Characters -->
                    <section>
                        <header class="major">
                            <h2>Episodes</h2>
                        </header>
                        <div class="row">
                        {{ range .Data.Pages }}

                        <div class="4u">
                            <section class="box">
                                <span class="image featured"><img src="/{{.Params.banner}}" alt="" /></span>
                                <header>
                                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                    <time>{{ .Date.Format "Jan 2, 2006" }}</time>
                                </header>
                                <p>{{ .Summary }}</p>
                            </section>
                        </div>
                        {{ end }}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}

  </body>

</html>
